body {
    font-family: Tahoma, sans-serif;
    background: #f2f2f2;
    margin: 0;
    direction: rtl;
    color: #333;
}

header {
    background: #2ecc71;
    color: #fff;
    text-align: center;
    padding: 40px 20px;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

header p {
    margin-top: 10px;
    font-size: 18px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 15px 0;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #2ecc71;
    font-weight: bold;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.section-title {
    text-align: center;
    color: #27ae60;
    font-size: 28px;
    margin-bottom: 25px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.card {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card h3, .card h2 {
    color: #27ae60;
    padding: 15px;
    margin: 0;
}

.card p {
    padding: 0 15px 15px;
    color: #555;
}

.btn {
    display: block;
    margin: 15px;
    text-align: center;
    padding: 10px;
    background: #27ae60;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
}

.btn:hover {
    background: #2ecc71;
}

footer {
    background: #ddd;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

footer span {
    color: #27ae60;
    font-weight: bold;
       }
